<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link menu__link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/js/fontawesome.min.js"></script>
    <link menu__link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-dyW4C0gVUgkWmY0EiOu5U4MhO3J5yqoGj5VJ2z0Yf2H0mQ5WQdj+7g8Hl8rK8a7Y9fQVq3fK4NqgJ4z5zRw0lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-+8gU4Ksz8uOY2ZxZfXk8Fj1hY7hH1dRrDwN5yKx3RtI8A6+G8XoOJ1Rj0XqzJ4wZb6tqfQZbB8y4eN8ZV6+VBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link menu__link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link menu__link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% if title %}
    <title>Flask Blog - {{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
    <style>
      /* Custom styles for dark theme */
      body {
          background-color: #343a40; /* Set dark background color */
          color: #ffffff; /* Set light text color */
      }
      .navbar-dark .navbar-toggler-icon {
          filter: invert(1); /* Invert icon color */
      }
      .navbar-dark .navbar-nav .nav-link menu__link {
          color: #ffffff; /* Set light text color for navbar links */
      }
      .navbar-dark .navbar-nav .nav-link menu__link:hover {
          color: #f0f0f0; /* Set lighter text color on hover */
      }
      /* Add more custom styles for dark theme as needed */
  </style>
</head>
<body>
    <header class="site-header mb-5">
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top mb-3 pt-3">
            <div class="container">
              <ul class="d-flex">
                <a class="navbar-brand mr-4" href="/" style="font-size: 23px;">Bloggit</a>
                
                <form class="d-flex" action="{{ url_for('search_page') }}" method="GET">
                  <button class="btn btn-secondary" type="submit">
                      <i class="fas fa-search pt-1" style="font-size: 23px;"></i>
                  </button>
              </form>
              {% if current_user.is_authenticated %}
              <a href="{{ url_for('inbox') }}">
                <button class="btn btn-secondary" type="submit">
                <i class="fas fa-envelope text-white pt-1" style="font-size: 26px;"></i>
              </button>
            </a>
              {% endif %}
              
            </ul>
                <button class="navbar-toggler mb-3 me-3 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
                    <!-- Navigation links -->
                    <ul class="navbar-nav">
                     
                    </ul>
                    <!-- Search bar -->
                   
                    <!-- Remaining navigation links -->
                    <ul class="navbar-nav" style="font-size: 17px;">
                        {% if current_user.is_authenticated %}
                        
                        <li class="nav-item">
                          <a class="nav-link menu__link" href="{{ url_for('home')}}">Home</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link menu__link" href="{{ url_for('new_post')}}">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__link" href="{{ url_for('account')}}">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__link" href="{{ url_for('logout')}}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                          <a class="nav-link menu__link" href="{{ url_for('about')}}">About</a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link menu__link" href="{{ url_for('login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu__link" href="{{ url_for('register')}}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>




      <main role="main" class="container bg-inherit">
        <div class="row">
          <div class="col-md-8">

            {% with messeges = get_flashed_messages(with_categories=true) %}
              {% if messeges %}
                {% for category, message in messeges %}

                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
 
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section bg-dark"  style="border-radius: 15px;">
              <h3 class="text-white">Our Sidebar</h3>
              <p class='text-secondary'>Browse our categories
                <ul class="list-group">
                  <a href="{{ url_for('home')}}" style="text-decoration: none;"><li class="text-primary list-group-item list-group-item-light bg-dark">Latest Posts</li></a>
                  <a href="{{ url_for('home')}}" style="text-decoration: none;"><li class="text-primary list-group-item list-group-item-light bg-dark">Announcements</li></a>
                  <a href="{{ url_for('home')}}" style="text-decoration: none;"><li class="text-primary list-group-item list-group-item-light bg-dark">Calendars</li></a>
                  <a href="{{ url_for('home')}}" style="text-decoration: none;"><li class="text-primary list-group-item list-group-item-light bg-dark">etc</li></a>
                </ul>
              </p>
            </div>
            <div class="content-section bg-dark"  style="border-radius: 15px;">
              <h3 class="bg-dark text-white">Direct Messages</h3>
              <ul class="list-group">
                  {% for conversation in direct_messages %}
                  <a href="{{ url_for('send_message', conversation_id=conversation.id)}}" style="text-decoration: none;">
                      <li class="text-primary list-group-item list-group-item-light">{{ conversation.other_user.username }}</li>
                  </a>
                  {% endfor %}
              </ul>
          </div>
      </div>
          </div>
        </div>
      </main>
      <!-- Remove the container if you want to extend the Footer to full width. -->
        <footer class="bg-dark">
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Annuar the developer © 2024 
          </div>
        </footer>

<!-- End of .container -->
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/js/fontawesome.min.js" integrity="sha384-5qjz9mO5q2daYvRJZcDjzqUmNTnviBQkI1Irzk9xh+gHf+3wL5lDdDyuvKGBZzvP" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
